/**
 * Created by conor on 11/4/16.
 */

/* Basic Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

    /* Disable mouse selection */
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

body {
    background-image: url("../img/woodFloor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    background-color: #0e0104;
    height: 472px;
    width: 472px;
    position: relative;
    text-align: center;
    top: 110px;
    margin: auto;
    border-radius: 100%;
}

.bottomColors {
    margin-bottom: -4px;
}

.topColors {
    margin-bottom: -4px;
}

.greenLight {
    background-color: #00FF00;
    border-top-left-radius: 100%;
}

.leftG {
    border-top-left-radius: 100%;
    background-color: #077b02;
}

.redLight {
    background-color: #FF0000;
    border-top-right-radius: 100%;
}



.rightR {
    background-color: #b40001;
    border-top-right-radius: 100%;
}

.yellowLight {
    background-color: #FFFF00;
    border-bottom-left-radius: 100%;

}
.leftY {
    background-color: #bcb801;
    border-bottom-left-radius: 100%;
}

.blueLight {
    background-color: #0000FF;
    border-bottom-right-radius: 100%;
}

.rightB {
    background-color: #0500a7;
    border-bottom-right-radius: 100%;
}


.color {
    margin: 5px;
    height: 215px;
    width: 215px;
    border: 12px solid #0e0104;
    display: inline-block;
}

.boxIn {
    position: relative;
    top: 12px;
}

.centerBox {
    width: 220px;
    height: 220px;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    left: 50%;
    margin: -112px 0 0 -108px;
    background-image: url("../img/silver.jpg");
    background-size: cover;
    border: 12px solid #0e0104;
}

#titleBrand {
    font-family: 'Press Start 2P', cursive;
    color: #222;
    font-size: 30px;
    margin-top: 35px;
}

.rw {
    margin-bottom: -4px;
}

.mainDisplay {
    width: 60px;
    position: relative;
    text-align: center;
    top: 15px;
    left: 10px;
}
.countBox {
    padding: 0px;
    font-size: 2em;
    width: 50px;
    background-color: #32050C;
    position: relative;
    border: 4px solid #222;
    border-radius: 10px;
    margin: auto;
}

.ledOff {
    color: #430710;
}

.label {
    color: #222;
    font-size: 0.7em;
    margin-top: 5px;
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
}

.btn1 {
    width: 50px;
    position: relative;
    display: inline-block;
    top: -30px;
    left: 35px;
}

.circle {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #ff0;
    border-radius: 100%;
    border: 4px solid #444;
    box-shadow: 0px 2px 3px #222;
    margin: auto;
    top: -5px;
}

.click {
    pointer-events: auto;
    cursor: pointer;
}

.circleRed {
    background-color: #FF0000;
}